/* body{
    background-color: #ece0d1;
}
.container{
    width: 85%;
    margin: auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.438);
    background-color: white;
} */
.header-text {
    width: 80%;
    margin-left: 120px;
}

header {
    display: flex;
    height: 200px;
}

.header-img {
    width: 20%;
    margin-right: 30px;
}

img {
    width: auto;
    height: 200px;
}

.header-title {
    text-align: center;
}

header h2 {
    line-height: 0;
}

hr {
    height: 5px;
    background-color: black;
    margin-top: -18px;
}

.section {
    margin: 0 120px;
    margin-top: 0;
}

.section h3 {
    font-size: 30px;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

.section .intro {
    font-weight: 600;
    font-size: 15px;
}

.section-inner .title,
.section-inner .desc {
    font-weight: 800;
}

.section-inner .desc {
    text-align: right;
}

.section-list ul {
    margin-top: -15px;
}

.section-list {
    margin-bottom: -15px;
}

.progress .list-title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: -5px;
}

.progress-container {
    margin-left: 30px;
}

meter {
    width: 60%;
    height: 18px;
}