/* Global CSS */
#container-card {
   margin: 30px;
   padding: 30px;
   border-radius: 10px;
}

#button {
   margin-top: 40px;
   width: 35%;
   height: 45px;
   margin-left: auto;
   margin-right: auto;
}

#break-line {
   opacity: 100%;
   border-radius: 3.5px;
   width: 80%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
}

#output-container {
   border-radius: 20px;
   padding: 15px;
}

.jeniskelamin-btn {
   width: 100%;
}

.body {
   background-color: #212529;
   color: white;
}

.body input,
.body select,
.body input::file-selector-button {
   --bs-focus-ring-color: rgba(var(--bs-light-rgb), .25)
}

.body input,
.body select,
.body input:focus {
background-color: #212529;
color: white;
color-scheme: dark;
}

.body select option:hover {
box-shadow: 0 0 10px 100px #12303b inset;
}

.body input::file-selector-button {
background-color: #2b3036 !important;
color: #ded7b8 !important;
}

.body input::placeholder {
color: white;
}

.body input::-ms-input-placeholder {
color: white;
}

.body #container-card {
background-color: #1d1f21;
}

.body #button {
background-color: #292b2c;
border: 2px solid #3a444c;
}

.body #break-line {
border: 3.5px solid #2d363b;
}

.body #output-container {
border: 3px solid #2e8548;
}